<div class="container">

  <div class="jumbotron text-center">
    <div class="step" ng-if="main.currentStep == 0">
      <button ng-click="main.steps[0].nextStep()" class="btn btn-primary">Jugar</button>
    </div>

    <div class="step" ng-if="main.currentStep == 1">
      <img class="seleccion-personaje" src="assets/main/seleccionPersonaje.png">
      <ul>
        <li class="character" ng-repeat="character in main.characters"
            ng-class="{'item-selected': main.gameOptions.character == character}">
          <img ng-click="main.steps[1].nextStep(character)" src="assets/characters/{{character}}.png">
        </li>
      </ul>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>
    <div class="step" ng-if="main.currentStep == 2">
      <div ng-if="main.steps[2].isPlayerNameEnabled()">
        <h2>Escoja un nombre</h2>
        <input placeholder="Nombre" type="text" ng-model="main.gameOptions.playerName" ng-value="main.gameOptions.playerName" maxlength="20" class="choose-name">
      </div>
      <button class="btn btn-primary" ng-click="main.steps[2].nextStep()" ng-disabled="main.steps[2].nextIsDisabled()">
        Continuar
      </button>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>

    <div class="step" ng-if="main.currentStep == 3">
      <h2>Seleccione la dificultad</h2>
      <ul>
        <li class="character" ng-repeat="difficulty in main.difficultyLevels"
            ng-class="{'item-selected': main.gameOptions.difficulty == difficulty.value}">
          <span ng-click="main.steps[3].nextStep(difficulty.value)"> {{difficulty.text}} </span>
        </li>
      </ul>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>
    <div class="step" ng-if="main.currentStep == 4">
      <h2>Seleccione el camino para empezar</h2>
 		<h3>Vidas Actuales: {{lives}} </h3>	
      <div class="worlds-container">
        <div class="stage-one">
          <h4>Camino Uno
          </h4>

          <div class="way-one" ng-click="main.goTo('path1')">
          </div>
          <h4>Mundo Uno</h4>

          <div class="world world-one">
          </div>
        </div>
        <div class="stage-two">
          <h4>Camino Dos</h4>

          <div class="way-two">
          </div>
          <h4>Mundo Dos</h4>

          <div class="world world-two">
          </div>
        </div>
        <div class="stage-three">
          <h4>Camino tres</h4>

          <div class="way-three">
          </div>
          <h4>Mundo Tres</h4>

          <div class="world world-three">
          </div>
        </div>
      </div>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>
  </div>
</div>
