<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate"/>
  </div>

  <div>
    {{main.gameOptions}}
  </div>

  <div class="jumbotron text-center">
    <div class="step" ng-if="main.currentStep == 0">
      <button ng-click="main.steps[0].nextStep()" class="btn btn-primary">Jugar</button>
    </div>

    <div class="step" ng-if="main.currentStep == 1">
      <h2>Escoja un personaje</h2>
      <ul>
        <li class="character" ng-repeat="character in main.characters"
            ng-class="{'item-selected': main.gameOptions.character == character}">
          <img ng-click="main.steps[1].nextStep(character)" src="assets/characters/{{character}}.png">
        </li>
      </ul>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>
    <div class="step" ng-if="main.currentStep == 2">
      <div ng-if="main.steps[2].isPlayerNameEnabled()">
        <h2>Escoja un nombre</h2>
        <input placeholder="Nombre" type="text" ng-model="main.gameOptions.playerName">
      </div>
      <button class="btn btn-primary" ng-click="main.steps[2].nextStep()" ng-disabled="main.steps[2].nextIsDisabled()">
        Continuar
      </button>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>

    <div class="step" ng-if="main.currentStep == 3">
      <h2>Seleccione la dificultad</h2>
      <ul>
        <li class="character" ng-repeat="difficulty in main.difficultyLevels"
            ng-class="{'item-selected': main.gameOptions.difficulty == difficulty}">
          <span ng-click="main.steps[3].nextStep(difficulty)"> {{difficulty}} </span>
        </li>
      </ul>
      <button class="btn btn-default" ng-click="main.stepBack()">Volver</button>
    </div>
  </div>
</div>
