/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.character {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  img {
    width: 40px;
  }
}
.item-selected {
  border: 1px solid cornflowerblue;
}


body{
 background: rgba(164, 117, 30, 0.75);
}
.worlds-container{
    width: 100%;
    background: rgba(164, 117, 30, 0.75);
    height: 700px;
	>div{
		position: relative;
		float: left;
		width: 30%;
		height: 600px;
		background: white;
		margin: 15px;

		>div{
			position: relative;
			float: left;
			width: 90%;
			height: 200px;
			background: black;
			margin: 15px;
			border: 1px solid red;
			border-radius: 90px;	
		}
		>div:hover{
			opacity: 0.4;
			cursor: pointer;
			
		}
		.way-one{
			background-image: url('../assets/path1/FISERV-PROGRAMATHON-CAMINO1-FONDO_FONDO.png');
			background-size: cover;
		}
		.world-one{
			background-image: url('../assets/world1/FISERV-PROGRAMATHON-JUEGO-MUNDO-1-CAMPOFERIAL_FONDO.png');
			background-size: cover;
		}
	}
	
		
}

.scores {
position: absolute;
    width: 550px;
    background-color: rgba(240, 245, 245, 0.75);
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 10px;
    margin: 5px auto;
    right: 0;
    font-weight: bold;
  span{
    margin: 5px;
    padding-top: 15px;

    img{
      max-width: 60px;
      max-height: 60px;
    }
  }
}

