<sprite-sheet-runner width="windowWidth" height="gameHeight" score="score"
                     lifes-count="lifesCount" player="pathOne.player"></sprite-sheet-runner>
<span>{{pathOne.player}}</span>
<span class="pull-left"><h2>Score: {{pathOne.score}}</h2></span>
<span class="top-right"><h2>Life: <i ng-if="pathOne.lifesCount > 0" class="fa fa-heart"></i>
  <i ng-if="pathOne.lifesCount < 1" class="fa fa-heart-o"></i>
  <i ng-if="pathOne.lifesCount > 1" class="fa fa-heart"></i>
  <i ng-if="pathOne.lifesCount < 2" class="fa fa-heart-o"></i>
  <i ng-if="pathOne.lifesCount > 2" class="fa fa-heart"></i>
  <i ng-if="pathOne.lifesCount < 3" class="fa fa-heart-o"></i>
</h2></span>
